
.app-container{
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height: 635px;
}

.postCard{
  margin: 20px 50px;
}

.post-tag{
  margin: 0px 3px;
}

.reactions{
  margin: 10px 0px 0px 0px;
}

.create-post{
  width: 60%;
  margin-top: 60px;
  margin-left: 20%;
  margin-bottom: 60px;
}

.welcome-msg{
  margin: 240px 0px ;
}

.spinner{
  margin-top: 100px;
}